/* TeacherSidebar.css */

.teacher-sidebar .logo {
    display: flex;
    margin-top: 20px;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100px; /* Assuming a fixed height for the logo container */
}

.teacher-sidebar .logo img {
    max-width: 60%; /* Adjust the width of the logo image */
    height: auto; /* Maintain aspect ratio */
}

.teacher-sidebar .bottom-links .logout {
    /* Add specific styling for the logout link in Sidebar */
    color: #fff; /* Change the color of the logout link */
    padding: 20px;
}

.teacher-sidebar .bottom-links .logout:hover {
    background-color: #c82333; /* Change the hover color of the logout link */
    color: #fff; /* Change the text color on hover */
}

.teacher-sidebar {
    width: 250px;
    background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent blue background */
    color: #fff;
    padding-top: 20px;
    border-radius: 10px; /* Rounded borders */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);  
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    overflow-y: auto;
}

.teacher-sidebar ul {
    list-style: none;
    margin-top: 20px;
}

.teacher-sidebar .nav-link {
    font-size: 1.1em;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #e8f7ec; /* Light color for text */
}

.teacher-sidebar .nav-link:hover {
    background-color: rgba(0, 102, 204, 0.5); /* Lighter blue on hover */
    color: #fff; /* Change text color on hover */
}

.submenu {
    margin-left: 15px; /* Indent submenu items */
}

.submenu .nav-link {
    font-size: 0.9em; /* Smaller font for submenu */
    color: #b2d4e0; /* Light blue for submenu items */
}

.submenu .nav-link:hover {
    color: #fff; /* Change submenu item text color on hover */
}
